@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-md-12">
        <h2>Добре дошли във вътрешния портал на L!VD Apartments!</h2>
        <br/><br/>
        <h3>Сайта е предназначен само за живущите в комплекса и има за цел да предостави решения на следните проблеми:</h3>
        <ul>
            <li>Предлагане и гласуване на идеи за вход или целия комплекс</li>
            <li>Информационно табло, което да е достъпно за всички</li>
            <li>Лесна и бърза комуникация между живущите</li>
            <li>Адресна книга с координати на всички живущи в комплекса</li>
        </ul>
        <br/><br/>
        <h3>Имайте предвид че:</h3>
        <ul>
            <li>Портала няма комерсиална цел</li>
            <li>Инвеститора, построил комплекса няма нищо общо със сайта</li>
            <li>Предоставя се безвъзмездно и не задължава никого с нищо</li>
            <li>Всякакви градивни предложения и забележки са добре дошли</li>
            <li>При желание и възможност всеки може да се включи в развитието на сайта</li>
            <li>Публикуван е с отворен код <a href="https://github.com/aiskrenov/Livd" target="_blank">ТУК</a></li>
        </ul>
    </div>
</div>
